@font-face {
  font-family: 'gt-cinetype';
  src:  url("../fonts/gt-cinetype-bold/GT-Cinetype-Bold.eot") format("eot"),
        url("../fonts/gt-cinetype-bold/GT-Cinetype-Bold.otf") format("otf"),
        url("../fonts/gt-cinetype-bold/GT-Cinetype-Bold.ttf") format("ttf"),
        url("../fonts/gt-cinetype-bold/GT-Cinetype-Bold.woff") format("woff"),
        url("../fonts/gt-cinetype-bold/GT-Cinetype-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'gt-super';
  src:  url("../fonts/gt-super/GT-Super-Text-Medium.eot") format("eot"),
        url("../fonts/gt-super/GT-Super-Text-Medium.otf") format("otf"),
        url("../fonts/gt-super/GT-Super-Text-Medium.ttf") format("ttf"),
        url("../fonts/gt-super/GT-Super-Text-Medium.woff") format("woff"),
        url("../fonts/gt-super/GT-Super-Text-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'gt-eesti';
  src:  url("../fonts/gt-eesti/GT-Eesti-Pro-Text-Regular.eot") format("eot"),
        url("../fonts/gt-eesti/GT-Eesti-Pro-Text-Regular.ttf") format("ttf"),
        url("../fonts/gt-eesti/GT-Eesti-Pro-Text-Regular.woff") format("woff"),
        url("../fonts/gt-eesti/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
}